body{
    background-color: darkgrey;
    text-align: center;
    padding-top: 0px;
    border-color:darkgrey;
    margin: 0px;
}

.navbar{
  background-color: black;

}
h1{
  color:grey;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 50px;
  margin-top: 0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

  /* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
span.psw:hover {
    opacity: 0.8;
}

  /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: #f44336;
}

  /* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin-left: 525px;
    margin-right: 525px;
    max-width: 35%;
    height: auto;
}

  /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

  /* Add padding to containers */
.container {
    padding: 16px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 5px;
}
.conta{
    padding: 16px;
    margin-left: 610px;
    margin-right: 610px;
    border-radius: 5px;
    background-color: darkgrey;

}

  /* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
    padding-left: 26px;
}

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }
}

/*.border{
  flex-shrink: 0;
margin: 20px;
height: calc(150px + 6vw);
width: calc(150px + 6vw);
border: calc(8px + 0.2vw) solid transparent;
background-origin: border-box;
background-clip: content-box, border-box;
background-size: cover;
box-sizing: border-box;
box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30%;
background-image: var(--img-url), linear-gradient(#f9f047, #0fd850);
  width: 420.8px;
  height: 650.8px;
  bottom: 10px; 
}*/